<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973173917724-tb1uf259aagt9n4aogh3e1rr4dp3pkh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973173917724-tb1uf259aagt9n4aogh3e1rr4dp3pkh7</string>
	<key>API_KEY</key>
	<string>AIzaSyCr1bUVleBdIoWkwt9bQfnowEfvcEmcV7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>973173917724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airPollution</string>
	<key>PROJECT_ID</key>
	<string>app-53e53</string>
	<key>STORAGE_BUCKET</key>
	<string>app-53e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973173917724:ios:5394989542317c6880f7d9</string>
</dict>
</plist>